.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(112, 86, 124);
}

.clicker-box {
    background-color: rgb(255, 238, 246);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px #313131 ;
}